<%- include('partials/_header') -%>

<div class="container" >
    <div class="row mb-4">
        <!-- search film -->
        <div class="col-md-6">
            <div class="card" style="background-color: coral;">
                <div class="card-body">
                    <form action="/filmSearcher/1" method="GET">
                        <div class="form-group">
                            <label for="searchTitle" style="font-size: 28px;">Film searcher</label>
                            <input type="text" name="searchTitle" class="form-control" id="searchTitle" placeholder="Enter the title of the film you are looking for" aria-describedby="searchHelp">
                        </div>
                        <button type="submit" class="btn btn-danger btn-block">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- wish list -->
        <div class="col-md-6">
            <div class="card" style="background-color: coral;">
                <div class="card-body d-flex align-items-center justify-content-center" style="height:182.41px;">
                    <h2>List of favorite movies</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- FILMS FOUND -->
        <div class="col-md-6" style="display: flex; flex-wrap: wrap; height: auto;  align-content: flex-start">

            <% for(let i = 0; i < films.length ; i++){ %>
                <div class="card" style="width:180px; height: 450px; margin: 0; background-color: coral;">
                    <% var film = films[i] %>

                    <% var poster = film.Poster %>

                    <% if(poster === 'N/A'){
                        poster = "https://ferreteriaelpuente.com.ar/wp-content/uploads/2015/08/sin-imagen.png"
                    }
                    %>
                    <img src= "<%= poster %>" width="180px" height="240px" class="card-img-top" alt="...">
                    <div class="card-body justify-content-md-center" style="width:180px; height:210px">
                            <div class="row" style="height: 60px; padding: 0px 5px; overflow: auto;">
                                <div class="col-">
                                    <h6 class="card-title"><%= film.Title %></h6>
                                </div>
                            </div>
                            <div class="row" style="height: 30px; padding: 0px 5px;">
                                <div class="col-">
                                    <p class="card-text"><%= film.Year %> </p>
                                </div>
                            </div>
                            <div class="row" style="height: 30px; padding: 0px 5px;">
                                <div class="col-">
                                    <p class="card-text"><%= film.Type %></p>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center align-items-center" style="height: 60px">
                                <div class="col-">
                                    <a href="<%= `http://localhost:3000/wishList/${film.imdbID}`%>" class="btn btn-danger" style="position: absolute; top: 390px; left: 50px;">Agregar</a>
                                </div>
                            </div>
                    </div>
                </div>
            <% } %>
        </div>
        <!-- wish list base de datos -->
        <div class="col-md-6" style="display: flex; flex-wrap: wrap; align-content: flex-start;">

            <% for(let j = 0 ; j < wishList.length ; j++){ %>
                <div class="card" style="width:180px; height: 450px; background-color: coral;">
                    <% var wishListFilms = wishList[j] %>

                    <% var poster = wishListFilms.Poster %>

                    <% if(poster === 'N/A'){
                        poster = "https://ferreteriaelpuente.com.ar/wp-content/uploads/2015/08/sin-imagen.png"
                    }
                    %>
                    <img src= "<%= poster %>" width="180px" height="240px" class="card-img-top" alt="...">
                    <div class="card-body" style="width:180px; height:210px">
                        <div class="row" style="height: 60px; padding: 0px 5px; overflow: auto;">
                            <div class="col-">
                                <h6 class="card-title"><%= wishListFilms.Title %></h6>
                            </div>
                        </div>
                        <div class="row" style="height: 30px; padding: 0px 5px;">
                            <div class="col-">
                                <p class="card-text"><%= wishListFilms.Year %> </p>
                            </div>
                        </div>
                        <div class="row" style="height: 30px; padding: 0px 5px;">
                            <div class="col-">
                                <p class="card-text"><%= wishListFilms.Type %> </p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center" style="height: 60px;">
                            <div class="col-">
                                <a href="<%= `http://localhost:3000/removeFilm/${wishListFilms.imdbID}`%>" class="btn btn-danger">Borrar</a>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center" style="margin: 20px 0px 100px 0px;">
        <% if(validate[0]){%>
            <% if(validate[1]){%>
            <a href="/directory/left" class="d-flex btn btn-danger mr-md-2"><--</a>
            <%}%>
            <p id="page" style="font-size: 22px; text-align: center; position: relative; top: 3px; margin: 0px 10px;"><%= page %></p>
            <% if(validate[2]){%>
            <a href="/directory/right" class="d-flex btn btn-danger ml-md-2">--></a>
            <%}%>
        <% } %>
        </div>
    </div>
</div>

<%- include('partials/_footer') -%>